<h1>Rock, Paper, Scissors</h1>

<p>Game Rules:<br>
<ul>
	<li>A simple game of Rock, Paper, Scissors! Rock beats scissors, scissors beats paper, and paper beats rock.</li>
	<li>The game is best of five, so first player to reach a score of three wins!</li>
	<li>Start the game by clicking the button below. Player 1 will be asked to go first, make sure Player 2 can't see your screen as you make your selection!</li>
	<li>Player 1 after you have made your selection, hit the button to go to Player 2 and pass the screen. Player 2 make your selection and hit the determine winner button. A winner will be determined based on both choices and displayed! If no player has reached a score of three the current game score will be displayed.</li>
	<li>If no one has won the game yet, a link to begin the next round will be shown. Player 1 click the link to begin a new round. If the game has been won, a link to start a new game will be offered.</li>
	<li>Good luck!</li>
</ul>
</p>

<p><form action="/start_new_game" method="post"><input type="submit" value="Start New Game!"></form></p>