<html>
<head>
	<link rel="stylesheet" type="text/css" href="/style.css">
	<title>Rock, Paper, Scissors</title>
</head>

<body>

<%= yield %>

<form action="/" method="get"><input type="submit" value="Return Home / Cancel Game"></form>

</body>
</html>