<p>Player 2: Choose a weapon:</p>
<form action="/player2" method="post">
	<select name="player2">
		<option value="rock">Rock</option>
		<option value="paper">Paper</option>
		<option value ="scissors">Scissors</option>
	</select>
	<input type="submit">
</form>