<p>Player 1 - Choose a weapon:</p>
<form action="/player1" method="post">
	<select name="player1">
		<option value="rock">Rock</option>
		<option value="paper">Paper</option>
		<option value ="scissors">Scissors</option>
	</select>
	<p><input type="submit" value="Choose and go to Player 2"></p>
</form>