<% #The below if/else statement will test if a player has reached
	#a score of 3. If so, HTML will be displayed declaring a player
	#the winner and providing a link to allow the user to start a new game. 
	#If not, the user will be given the current score (P1, P2, and Ties)
	#and a link to begin a new round. %>

<% if @p1current_score == 3 || @p2current_score == 3 %>
	<% if @p1current_score == 3 %>
		<h2>Player 1 wins the game!!</h2>
		<p><a href="/">Start a new game</a></p>
	<% elsif @p2current_score == 3 %>
		<h2>Player 2 wins the game!!</h2>
		<p><a href="/">Start a new game</a></p>
	<% end %>
<% else %>
	<strong><%= @message %></strong>

	<p><strong>Current score:</strong><br>
	Player 1 - <%= @p1current_score %><br>
	Player 2 - <%= @p2current_score %><br>
	Ties - <%= @current_ties %></p>

	<p><a href="/player1">Start next round</a></p>
<% end %>